.content {
  width: 70px;
  height: 70px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.active {
  background: red;
}
